<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body class="d-flex flex-column min-vh-100">  <!-- removed bg-light text-dark -->
    {% include header.html %}

    <main class="flex-grow-1">
      <div class="container py-4">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    
    <!-- Bootstrap JS (bundle includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
